---
- name: Load JDBC files
  copy:
    src: jdbc
    dest: "~"

- name: Set current qubole jdbc driver
  shell: ~/adillow_bin/set_current_jdbc qubole qds-jdbc-3.0.2.jar

- name: Set current teradata jdbc driver
  shell: ~/adillow_bin/set_current_jdbc teradata terajdbc4_17.00.00.03.jar

- name: Set current teradata jdbc driver
  shell: ~/adillow_bin/dremio-jdbc-driver-15.0.0-202102242308110405-d0b6cb88.jar
